<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swapnilshukla.quicure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/quicure"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" />
        <activity android:name=".Sign_up" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Search" />
        <activity android:name=".Appointment" />
        <activity android:name=".Profile" />
        <activity
            android:name=".Tabbed"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Changepass" />
        <activity android:name=".Queue" />
        <activity android:name=".Forgotpass" />
        <activity android:name=".Forgotpass1" />
        <activity android:name=".HospitalRegistrations" />
        <activity android:name=".Hospital" />
        <activity android:name=".HospitalAppointment" />
        <activity android:name=".Hos_settings" />
        <activity android:name=".RemoveDoctor" />
        <activity android:name=".HosChangeInformation" />
        <activity android:name=".RequestAppointment" />
        <activity android:name=".List_Doctors" />
        <activity android:name=".Hos_Requests"></activity>
    </application>

</manifest>